/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles for body and html */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #2ecc71; /* Neon green */
    color: #ffffff; /* White */
    text-align: center;
    padding: 1rem 0;
    position: static;
    width: 100%;
}

/* Footer styles */
footer {
    background-color: #ff6e40; /* Neon orange */
    color: #ffffff; /* White */
    text-align: center;
    padding: 1rem 0;
    position: static;
    width: 100%;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
}

/* User info styles */
.user-info {
    background-color: #3498db; /* Neon blue */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Aligns the items evenly */
    align-items: center;
    padding: 1rem;
}

/* Score box and winner box styles */
.score-box {
    background-color: #ffcb05; /* Neon yellow */
    color: #333333; /* Dark gray */
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}

/* Winner box styles */
.winner-box {
    background-color: #ffcb05; /* Neon yellow */
    color: #333333; /* Dark gray */
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    order: 2; /* Moves the winner box to the rightmost position */
}

/* Play selection styles */
.play-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

/* Play boxes container */
.play-selection .play-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Play box styles */
.play-selection .play-box {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff5733; /* Neon red */
    color: #ffffff; /* White */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem; /* Add margin to create space between buttons */
}

/* Play box hover state */
.play-selection .play-box:hover {
    background-color: #ff4500; /* Neon orange */
}

/* Content section styles */
.content-section {
    display: flex;
    flex-grow: 1;
    height: 40%;
}

/* Content cell styles */
.content-cell {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Odd content cell background color */
.content-cell:nth-child(odd) {
    background-color: #ff5733; /* Neon red */
}

/* Even content cell background color */
.content-cell:nth-child(even) {
    background-color: #2ecc71; /* Neon green */
}

/* Content container styles */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Content text styles */
.content-container p {
    font-size: 2rem;
    color: #ffffff; /* White */
}
